<div>
  <textarea [(ngModel)]="inputText"></textarea>
  <button (click)="onTranslate()">Traduire</button>

  <ul *ngIf="translatorData">
    <li *ngFor="let s of translatorData.sentences">
      <span *ngIf="!s.isEditing">{{ s.sentence_translated }}</span>
      <input *ngIf="s.isEditing" [(ngModel)]="s.editText" (keyup.enter)="saveCorrection(s)" />
      <button *ngIf="!s.isEditing" (click)="editSentence(s)">Corriger</button>
      <button *ngIf="s.isEditing" (click)="saveCorrection(s)">Enregistrer</button>
      <button *ngIf="s.isEditing" (click)="cancelEdit(s)">Annuler</button>
    </li>
  </ul>
</div>
