<nav class="navbar navbar-expand-lg bg-white border-bottom shadow-sm" *ngIf="userRole !== 'super_admin'">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand d-flex align-items-center" href="#">
      <img src="assets/images/logo1.png" alt="Logo" height="32" class="me-2" />
      <!-- <span class="fw-bold">SenTekki</span> -->
    </a>

    <!-- Burger menu for mobile -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Menu items -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/translate']">Traducteur</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/translate-last']">Paraphraser</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/historique']">Grammaire</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/translate-fusion']">Résumé</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/correction']">Mes corrections</a>
        </li>
      </ul>

      <!-- <ul>
        <li *ngFor="let item of menuItems" 
            *ngIf="item.roles.includes(userRole)">
          <a [routerLink]="item.route">{{ item.label }}</a>
        </li>
      </ul> -->

      <!-- Right actions -->
      <div class="d-flex">
        <div class="dropdown d-inline-block" ngbDropdown>
          <button type="button" class="btn header-item topbar-light bg-light-subtle border-start border-end" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle>
              <img class="rounded-circle header-profile-user" src="assets/images/logo-bg2.png" alt="Header Avatar">
              <span class="d-none d-xl-inline-block ms-1 fw-medium">SenTekki</span>
              <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
          </button>
          <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
              <!-- item-->
              <a class="dropdown-item" [routerLink]="['/account/login']"><i class="mdi mdi-face-man font-size-16 align-middle me-1"></i>Se connecter</a>
              <a class="dropdown-item" routerLink=""><i class="mdi mdi-lock font-size-16 align-middle me-1"></i>S'inscrire</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span class="align-middle" key="t-logout">Déconnexion</span></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
