.navbar {
  background-color: #f8fafc;
  font-size: 0.95rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1054;

  .nav-link {
    color: #2e2f45;
    margin-right: 0.75rem;

    &:hover {
      color: #84ab4c;
    }

    &.active {
      font-weight: 600;
      color: #84ab4c;
    }

    
  }
  
  .nav-header .navbar-nav .nav-item {
    font-size: 16px;
  }

  .btn {
    font-weight: 500;
  }
}