

.sidebar {
  width: 120px;
  justify-items: center;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  background: #84ab4c; // #008ea1;
  z-index: 100;
  transition: width 300ms;

  &-brand {
    height: 90px;
    padding: 0;
    color: #fff;

    span {
      display: inline-block;
      margin-right: 1rem;
    }
  }

  &-menu {
    margin-top: 1rem;

    li {
      width: 100%;
      margin-bottom: 2rem;
      padding-left: 0;
    }

    a {
      padding-left: 0.5rem;
      display: block;
      color: #fff;
      font-size: 0.5rem;

      span:first-child {
        padding-right: 1rem;
        font-size: 1rem;
      }

      &.active {
        background: #fff;
        padding-top: 1rem;
        padding-bottom: 1rem;
        color: #84ab4c; // #008ea1;
        border-radius: 30px 0 0 0;
      }
    }
  }
}

